.list-group-item{
  width: 18rem;
  padding: 2px;
  margin-bottom: 5px;
}

.message-time{
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: italic;
  font-size: 12px;
}

.BTNDelete{
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.list-group{
  padding: 5px;
}

.nav{
  background-color: #5c6066;
}

body{
  background-color: #787d84;
}

.message-sender{
  font-weight: bold;
}

