{% extends "base.html" %}


{% block title %}
Home
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block body %}

<!-- <h1 id="user"/> -->
<h1 id="room">{{room}}</h1>

<ul id="list" class="list-group">
  
    {% for message in messages %}
      <li class="list-group-item">
        {{message.get_message()}}
        <p>{{message.get_user()}} <span class="message-time">{{message.get_time()}}</span></p>
      </li>
    {%endfor%} 
  
</ul>

<div class="input-group input-group-sm mb-3" id="input-div" style="bottom: 15px; position: fixed; left: 50%; margin-left: -25%;">
  <div class="input-group-prepend">
    <input class="form-control" id="input-message-section" type='text' style="width: 400px;">
    <button id="button-message-send">Send</button>
  </div>
</div>
{% endblock %}